<mat-toolbar class="white-bg">
  <span>Body of Knowledge Visualization and Search tool</span>
  <span class="spacer"></span>
  <img src="assets/ucgis-logo-small-trans.png" alt="ucgis logo" class="text-right" style="height: 40px;">
</mat-toolbar>
<br>
<section class="section">

  <!--  <mat-card-title class="margin">Check the attributes to match with term searched: </mat-card-title> -->


  <mat-form-field class="form-field margin">
    <mat-label>Write search term</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (keyup)="onChangeSearchText()">
    <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="cleanSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <mat-checkbox color="primary" class="margin" [(ngModel)]="isSearchCode"
    (change)="onChangeSearchText()">Code</mat-checkbox>
  <mat-checkbox color="primary" class="margin" [(ngModel)]="isSearchName"
    (change)="onChangeSearchText()">Name</mat-checkbox>
  <mat-checkbox color="primary" class="margin" [(ngModel)]="isSearchDes"
    (change)="onChangeSearchText()">Description</mat-checkbox>
  <mat-checkbox color="primary" class="margin" [(ngModel)]="isSearchSkills" (change)="onChangeSearchText()">Learning
    Objectives</mat-checkbox>
  <mat-checkbox color="primary" class="margin" [(ngModel)]="isSearchSourceDocs"
    (change)="onChangeSearchText()">References</mat-checkbox>

</section>
<section style=" padding: 10px;">
  <mat-grid-list cols="2"> <!--  rowHeight="fit" -->
    <mat-grid-tile class="block">
      <div id="graph"></div>
    </mat-grid-tile>

    <mat-grid-tile class="block section">
      <cdk-virtual-scroll-viewport scrollWindow itemSize="70" style="padding-right: 15px"> <!-- && isConceptInfo -->
        <span *ngIf="resultNodes.length>0 && textInfo.innerHTML.length > 15" class="small"> <a
            (click)="cleanConceptInfo()" style="color: #007bff; font-weight: 400; cursor: pointer;"> <i
              class="material-icons">arrow_back</i> Go back
            to search results </a>
          <br>
          <br>
        </span>

        <div id="textInfo" #textInfo> Loading...
        </div>

        <section *ngIf="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15">
          <mat-card-title> Results: {{resultNodes.length}} </mat-card-title> <span style="float: right;"><a (click)="cleanSearch()" style="color: #007bff; font-weight: 400; cursor: pointer;"> <i
              class="material-icons">close</i> Clear search results </a></span>
          <ul>
            <li
              *ngFor="let n of resultNodes|slice:(resultsPageIndex*resultsPageSize):(resultsPageIndex*resultsPageSize+resultsPageSize); index as i">
              [<span *ngIf="isSearchCode" [innerHTML]="n['code']| truncate:100:searchText"> </span> <span
                *ngIf="!isSearchCode" [innerHTML]="n['code']"> </span>]
              <span *ngIf="isSearchName" [innerHTML]="n['name'] | truncate:100:searchText">
              </span> <span *ngIf="!isSearchName" [innerHTML]="n['name']"> </span>
              <a class="margin link" (click)="browseToConcept(n['code'])">View</a>
              <br>
              <span *ngIf="isSearchDes" class="small" [innerHTML]="n['description'] | truncate: 100:searchText"></span>
              <span *ngIf="!isSearchDes" class="small" [innerHTML]="n['description'] | truncate: 100:searchText"></span>

              <!-- <span class="small" *ngFor="let s of n['demonstrableSkills']" [innerHTML]="s | truncate: 100:searchText"></span> -->
            </li>
          </ul>

          <mat-paginator (page)="handlePageEvent($event)" [length]="resultNodes.length" [pageSize]="resultsPageSize"
            [pageIndex]="resultsPageIndex" [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page">
          </mat-paginator>
        </section>

        <mat-expansion-panel
          [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Topic Description
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div id="bokdescription"
            [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
            No content available </div>
        </mat-expansion-panel>

        <div id="bokrelations"
          [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
          No content available </div>

        <!--         <mat-expansion-panel expanded
          [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Relations <span id="bokrelationsnum"></span>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div id="bokrelations"
            [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
            No content available </div>
        </mat-expansion-panel> -->

        <mat-expansion-panel
          [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Learning Objectives <span id="bokskillsnum"></span>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div id="bokskills"
            [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
            No content available </div>
        </mat-expansion-panel>

        <mat-expansion-panel
          [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              References <span id="bokreferencesnum"></span>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div id="bokreferences"
            [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
            No content available </div>
        </mat-expansion-panel>


        <mat-expansion-panel
          [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Author and Citation Info
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div id="bokintroduction"
            [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
            No content available </div>
        </mat-expansion-panel>

        <mat-expansion-panel
          [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Versioning <span id="bokversioningnum"></span>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div id="bokversioning"
            [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
            No content available </div>
        </mat-expansion-panel>

      </cdk-virtual-scroll-viewport>
    </mat-grid-tile>

  </mat-grid-list>
</section>
<!-- <section style=" padding: 10px;" >

  <mat-expansion-panel expanded [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Full content
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header> 
   <div id="bokdescription" [style.visibility]="resultNodes && resultNodes.length>0 && !isConceptInfo && textInfo.innerHTML.length < 15? 'hidden': 'visible'"> No content available </div>
  </mat-expansion-panel>

</section> -->
<!-- <mat-toolbar class="mat-primary">
  <span>Body of Knowledge Visualizer and Search</span>
  <span class="spacer"></span>
</mat-toolbar> -->