.section {
    margin: 12px 12px;
}

.margin {
    margin: 0 12px;
}

.form-field {
    width: 400px;
}

mat-paginator {
    background-color: #fafafa;
}

.small {
    font-size: small;
}

.link {
    color: #007bff;
    font-weight: 400;
    cursor: pointer;
}

.mat-grid-tile {
    overflow: auto !important;
    padding-top: calc((75vh - 0.5px) * 1 + 0px) !important;
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.white-bg {
    background: #fafafa;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar span {
    font-size: larger;
}

